{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
	<title>CRUD-MINSA</title>
</head>
<body>
	<div class="container">	
		{% block content %}

		{% endblock %}
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap4.min.js'%}"></script>
	
	{% block js %}

	{% endblock%}
</body>
</html>