{% extends 'base.html' %}

{% block content %}
	<form action = "{% url 'main:actualizar-paciente' id=object.id %}" method="POST">{% csrf_token %}
		<div class="modal-body">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Tipo de documento</label>
					{{ form.tipo_documento }}
				</div>
				<div class="form-group col-md-6">
					<label>Número de documento</label>
					{{ form.documento }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Nombres</label>
					{{ form.nombre }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Apellido paterno</label>
					{{ form.apellido_paterno }}
				</div>
				<div class="form-group col-md-6">
					<label>Apellido materno</label>
					{{ form.apellido_materno }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Fecha de nacimiento</label>
					{{ form.fecha_nacimiento }}
				</div>
				<div class="form-group col-md-6">
					<label>Edad</label>
					{{ form.edad }}
				</div>
			</div>
		<div>
		<div class="modal-footer">
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        	<input  type="submit" class="btn btn-primary" value="Guardar">
      	</div>
	</form>

{% endblock %}