{% extends 'base.html' %}
{% block content %}
<div class="mx-auto">
	<div class="row">
		<div class="col-sm-4">
			<label>Tipo Documento</label>
			<select class="form-control" id="input_search_tipo_doc">
				<option class="form-control" value="todos">--Todos--</option>
				{% for tipo in tipos_documento %}
					<option value="{{ tipo.tipo }}">{{ tipo.tipo }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-sm-4">
			<label>Número Documento</label>
			<input type="text" class="form-control" id="input_search_document" onkeypress="search_documento(event)">
		</div>
		<div class="col-sm-4" style="padding-top: 35px;">
			<button id="btn_create_patient" type="button" class="btn btn-primary" data-toggle="modal" data-target="#idModalPaciente">
			  Crear Paciente
			</button>
		</div>
	</div>
</div>
<div class="mx-auto">
	<table id="patient-table" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tipo de documento</th>
				<th>Número de documento</th>
				<th>Fecha de nacimiento</th>
				<th>Edad</th>
				<th>Nombre y apellido</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for paciente in object_list %}
				<tr>
					<td>{{ paciente.tipo_documento }}</td>
					<td>{{ paciente.documento }}</td>
					<td>{{ paciente.fecha_nacimiento }}</td>
					<td>{{ paciente.edad }}</td>
					<td>{{ paciente.nombre_completo }}</td>
					<td>
						<button id="btn_edit_patient" onclick="editar_paciente('{{ paciente.get_absolute_url }}actualizar/')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#idModalPaciente">
							Editar
						</button>
					</td>
					<td>
						<form action="{% url 'main:eliminar-paciente' id=paciente.id %}" method="POST">{% csrf_token %}
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="modal fade" id="idModalPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Crear/Editar Paciente</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="add-form">
	      </div>
	    </div>
	  </div>
	</div>
</div>

{% endblock %}
{% block js%}
	<script >
		$("#patient-table").DataTable()
		table = $("#patient-table").DataTable()
		$(".dataTables_filter").hide()
		$(".dataTables_length").hide()
		$("#btn_create_patient").click(function(){
			$.ajax({
				url: "{% url 'main:crear-paciente'%}",
				type: "get",
				dataType: "text",
				success: function(data){
					$("#idModalPaciente .add-form").html(data)
				}	
			})
		})

		function editar_paciente(url){
			$.ajax({
				url: url,
				type: "get",
				dataType:"text",
				success: function(data){
					$("#idModalPaciente .add-form").html(data)
				}
			})
		}

		$("#input_search_tipo_doc").on("change", function(){
			value = $(this).val()
			if(value == "todos"){
				value = ''
			}
			table.columns(0).search(value)
			table.draw()
		})

		function search_documento(event){
			if(event.keyCode == 13){
				value = $("#input_search_document").val()
				table.columns(1).search(value)
				table.draw()
			}
		}
	</script>
{% endblock %}